html, body {
    margin: 5px;
    font-family: "Verdana", sans-serif;
    font-size: 12px;
}
a {
    color: #0079bc;
    text-decoration: none;
}
strong {
    text-decoration: underline;
}
em {
    font-style: normal;
    text-decoration: underline;
}
li {
    line-height: 1.6rem;
}
.box {
    padding: 0.7rem;
    background: lavender;
}
header {
    margin-left: 1rem;
}
#membros {

}
#membros h2 {
    margin: 0.5rem;
}
#membros ul {
    list-style-type: none;
    padding-left: 1rem;
}
#indice {
    margin: 3rem 60px;
    margin-left: 60px;
}
#indice h2 {
    margin-left: 0.5rem;
    margin-top: 0.7rem;
}
#indice ol {
    list-style-type: lower-alpha;
    padding-left: 30px;
}
#trabalho {
    margin: 1rem;
}
.item {
    margin-top: 2.7rem;
}
.item h2 {
    font-size: 1.2rem;
}
